.navbar{
  border: 1px solid var(--color-light);
  padding: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: linear-gradient(aqua, transparent);
  width: 300px;
  border-radius: 18px;
}
